.editors {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  width: calc(100% - 270px);
  > div:not(.error-wrap) {
    width: 50%;
    border: 1px solid #ccc;
  }
}
