* {
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}
.App {
  padding: 20px;
  height: 100%;
  .App-content {
    display: flex;
    margin-top: 20px;
    height: calc(100% - 85px);
    justify-content: space-between;
  }
}
